body{
        background-color:white;
		
}
h1{ 
font-family: times new roman;
    font-size: 40px;
	font-style: strong;
	text-align: center;
		
}
h2{
	text-align: center;
}
h3{
	text-align: center;
}
p{ 
 color: red;
 font-family: verdana;
 font-size: 15px;
 text-align: justify;
 margin-left: 200px;
 margin-right: 200px;
}
#horario{ 
text-align:left
}
header{
background-color: red;
font-family: TIMES NEW ROMAN;
font-size: 45px;
text-align: center;
color: black;
}
#TELEFONE{
text-align: left;
font-family:times new roman;
font-size:20px;
color: black;

}
#ENDERECO{ 

font-family:times new roman;
font-style: strong;
font-size:20px;
padding:0px;
color: black;
text-align: center;


}
#NOME{
text-align: center;
font-style: strong;
font-size:20px;
padding:15px;
color:black;



}
footer{
background-color: gray;
padding:40px;
text-align: center;
color: black;

	}

